body {
  margin: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
header {
  background: url("../images/tokyo-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 286px 0 305px 0;
  text-align: center;
  font-style: normal;
  line-height: normal;
}
h1 {
  font-size: 96px;
  font-weight: 700;
  margin: 0;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}
h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0;
}
header button {
  color: #272044;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px 32px;
  margin-top: 32px;
}
.section-1 {
  background-color: #12101d;
  padding: 100px 0;
}
.section-1 img {
  width: 570px;
}
h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;
  opacity: 0.3;
  margin: 0;
}
h4 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.section-1 p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin: 18px 0 0 0;
}
.section-2 {
  background-color: #181525;
}
.map-1,
.map-2,
.map-3 {
  background: #272435;
  box-shadow: 20px 20px 40px 0px rgba(7, 5, 19, 0.2);
}
h6 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h7 {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-2 p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}

.section-2 button {
  background-color: #462cb2;
  padding: 16px 32px;
  align-self: stretch;
  margin: 16px 32px;
}
.section-3 {
  background-color: #12101d;
}
.photo-gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

footer {
  padding: 100px 0 92px 0;
  background-color: #272044;
  opacity: 0.9;
}
h8 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
