body {
  margin: 0;
}
header {
  background: url("../images/tokyo-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 286px 0 305px 0;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: normal;
}
h1 {
  font-size: 96px;
  font-weight: 700;
  margin: 0;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}
h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0;
}
header button {
  color: #272044;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px 32px;
  margin-top: 32px;
}
