body {
  margin: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
}
header {
  background: url("../images/tokyo-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 286px 0 305px 0;
  text-align: center;
}
h1 {
  font-size: 96px;
  margin: 0;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}
h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0;
}
h4 {
  font-size: 40px;
  margin: 0;
}
h5 {
  font-size: 16px;
  letter-spacing: 5px;
  opacity: 0.3;
  margin: 0;
}
.section-2 h4,
.section-2 h5,
.section-3 h4,
.section-3 h5 {
  text-align: center;
}
h6 {
  font-size: 24px;
  margin: 0;
}
h7 {
  font-size: 13px;
}
h8 {
  font-size: 20px;
}
p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}

header button {
  color: #272044;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px 32px;
  margin-top: 32px;
}
.section-1 {
  background-color: #12101d;
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}
.section-1 img {
  width: 100%;
  aspect-ratio: 7 / 9;
}

.section-1 p {
  margin: 18px 0 0 0;
  text-align: justify;
}
.section-2 {
  background-color: #181525;
  padding: 100px;
}
.maps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}
.section-2 img,
.google-map {
  width: 50%;
  aspect-ratio: 2/1.7;
}
.map-1,
.map-2,
.map-3 {
  background: #272435;
}
.section-2 .info {
  padding: 24px 32px;
}
.section-2 button {
  background-color: #462cb2;
  padding: 16px 32px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
}
.section-2 .map-2 button,
.map-3 button {
  margin-top: 36px;
}
.section-2 button:hover {
  cursor: pointer;
}
.section-3 {
  background-color: #12101d;
  padding: 100px;
}
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}
.photo-gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
}
footer {
  background: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)),
    url("../images/photo-tokyo-6.jpeg");
  padding: 100px 170px;
}
.footers {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 60px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  font-weight: 400;
}
footer li a,
li a:visited {
  opacity: 0.6;
}
footer a,
footer a:visited {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  font-weight: 700;
}
